*.root
*.pdf
*.png
*.csv
*.swp
*.swo
*.log*
*.ods
*_cc.d
*_cc.so

acceptance_test_mc/mc
background_mc_test/mc

error_propagation/bayes
error_propagation/prop_deriv
error_propagation/prop_dist

t_systematics/mc

test/bckg_prob
test/shower_test
test/shower_test2
test/shower_test3
test/test
test/test2
